adal==1.2.7
aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
azure-common==1.1.28
azure-core==1.30.1
azure-graphrbac==0.61.1
azure-identity==1.16.0
azure-keyvault-keys==4.9.0
azure-keyvault-secrets==4.8.0
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.3.0
azure-mgmt-resource==23.0.1
cachetools==3.1.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.0
deepdiff==7.0.1
Deprecated==1.2.14
exceptiongroup==1.2.1
frozenlist==1.4.1
google-auth==2.19.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==7.0.0
isodate==0.6.1
k8s==0.25.0
kubernetes==29.0.0
microsoft-kiota-abstractions==1.3.2
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.1
microsoft-kiota-serialization-form==0.1.0
microsoft-kiota-serialization-json==1.2.0
microsoft-kiota-serialization-multipart==0.1.0
microsoft-kiota-serialization-text==1.0.0
msal==1.28.0
msal-extensions==1.0.0
msgraph-core==1.0.0
msgraph-sdk==1.2.0
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.5
oauthlib==3.2.2
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
ordered-set==4.1.0
pathspec==0.11.1
pendulum==3.0.0
portalocker==2.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.6.0
pyRFC3339==1.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.1
std-uritemplate==0.0.57
time-machine==2.14.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.15
websocket-client==1.5.2
wrapt==1.16.0
yamllint==1.35.1
yarl==1.9.4
zipp==3.18.1